
body {
  display: flex;
  flex-direction: column;

  
}

section {
  margin-bottom: 20px; 
 
}


body {
  font-family: Arial, sans-serif;
  margin: 10px 50px 20px;
  padding:2em;
  background-color: #f4f4f4;
  color: #333;
  width: 100%;
  text-align:left;
  align-items: center;
}

h3, h4, h5, h6 {
  color: #007bff;
  font-size:2rem ;
  text-align: center;
}

h2 {
text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 3rem
  }

section {
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

p {
  line-height: 1.6;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f6f7f9;
  color: #fff;
  visibility: hidden;
}