body {
    font-family: Arial, sans-serif;
    margin: 10px 50px 20px;
    padding: 2em;
    background-color: #c7c3c3;
    color: #333;
    width: 100%;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-image: linear-gradient(to right, #c7c3c3, #c7c3c3 20%, #4f514f 20%, #4f514f 40%, #c7c3c3 40%, #c7c3c3 60%, #4f514f 60%, #4f514f 80%, #c7c3c3 80%);
  background-size: 100% 100%;
  background-repeat: repeat;
}

  
  
  h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 3rem
    
  }
  
  section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h3, h4 ,h5, h6{
    color: #080708;
    text-align: center;
    font-size: 2rem;
  }
  
  p {
    color: #666;
  }
  
  footer {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    visibility: hidden;
  }